.card{
    margin: 20px;
    padding: 20px;
    border-radius: 2.25rem !important;
    box-shadow: 10px 10px 10px rosybrown;
    transition: all .5s ease;
}
.card:hover{
    transform: scale(1.1);
}
.card img{
    padding: 0 50px;
}
.explore-btn{
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
    text-decoration: none !important;
}
.explore-btn svg{
    margin-left: 5px;
}